/*Page layout*/
	html,body {
		width: 100%;
		height: 100%;
		overflow: hidden;
		background: #232323;
	}

	#attribution {
		bottom: 0px;
	}

	#about {
		color: #232323;
		position: absolute;
		z-index: 23498576345;
		right: 5px;
		top: 5px;
	}

	#vis-header {
		padding-left: 20px;
		padding-right: 20px;
		color: #FFF;
		background: none;
	}

/*Visualizations*/
	svg {
		stroke: #FFF;
		background: #232323;
	}
	.dashed {
		/*stroke-dasharray: 13,7;*/
	}
	
	.selected {
		stroke: red;
	}	
	/*Force network*/
		#visDiv {
			position: absolute;
			display: block;
			width: 80%;
			height: 100%;
			left: 20%;
			background: #232323;
		}
		
		.axis text {
			font: 10px sans-serif;
		}
		
		.axis line,.axis path {
			fill: none;
			stroke: #FFF;
			shape-rendering: crispEdges;
		}
		.highlighted {
			stroke-width: 3;
		}
		/*Force network legends*/
			#legendContainer {
				position: fixed;
				width: 400px;
				height: 100px;
				float: right;
				left: 20%;
				bottom: 5%;
				background: none;
			}
			
			#mainVisSizeLegend {
				width: 50%;
				height: 100px;
				float: left;
			}
			
			#mainVisColorLegend {
				width: 50%;
				height: 100px;
				float: right;
			}
	/*Component bar graph*/
		#scrollable {
			position: absolute;
			display: block;
			width: 20%;
			/*top:80%;*/
			height: 100%;
			overflow-x: auto;
			overflow-y: hidden;
			background: #232323;
		}
		#visBar {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
		}
	
	/*Nodes (circles)*/
	.n {
		stroke-width: 1;
		stroke: #FFF;
		cursor: pointer;
		fill: none;
	}
	
	/*Edges (paths)*/
	.e {
		/*stroke:red;*/
	}

	/*Bars (rectangles)*/
	.b {
		cursor: pointer;
	}
	
	/*Labels (text)*/
	.l {
		font: 18px helvetica;
		font-weight: 900;
		fill: #FFF;
		stroke: #000;
		stroke-width: .035em;
		cursor: pointer;
	}
	/*Smaller labels (text)*/
	.l2 {
		font: 14px helvetica;
		font-weight: 400;
		fill: #FFF;
		/*stroke-width:.035em;*/
		cursor: pointer;
	}