/*Page layout*/


/*TODO: Turn off text border*/
/*	Update: Nah. Upon further review, I have determined that the stroke is necessary, even if it matches the background. 
This is fairly common (see terrible memes) and means less chance for difficulty reading when the text is in front of a bunch of edges and node strokes*/
	html,body {
		width: 100%;
		height: 100%;
		overflow: hidden;
		background: #FFF;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

	}

	#attribution {
		bottom:10%;
		right:60%;
	}

	#about {
		background:#EFEFEF;
		color: #000;
		position: absolute;
		z-index: 23498576345;
		bottom:0%;
		right:20%;
		width:250px;
		height:250px;
		text-align:right;
		overflow-y:scroll;
		overflow-x:hidden;
	}

	#node_data {
		color: #121212;
		position: absolute;
		z-index: 23498576345;
		width:calc(80% - 400px);
		height:100%;
	}

	#vis-header {
		padding-left: 20px;
		padding-right: 20px;
		width:auto;
		color: #000;
		background: none;
	}
	label {
		font-family: roboto;
		margin: 5px;
    	font-weight: 400 !important;
}
	}

	/* Buttons */

	button {
		font-family: roboto;
		font-weight: 400 !important;


	}

	.button-go {
		background: rgb(29, 143, 143);
		border: 1px solid #0e4444;
		border-radius: 3px;
		float:right;
		padding: 5px 20px;
		margin-right:0px;
		color: #fff;
	}

	

	.button-go p {
		font-weight: 400 !important;
	}

	.innerButton {
	background: rgb(205,144,42);
	border: 1px solid #8f651f;;
	border-radius: 3px;
	color: #fff;
    bottom: 35px;
    padding: 5px 10px;
    position: absolute;
    right: 0px;
}

/* Tolerance Slider */

.noUi-connect {
  background-image:
    linear-gradient(
      to top right, 
      #1D8E8E, #C2E0E0
    ) !important;
}

/* This takes away the debug panel */

.panel {
display: none;
}

/* This takes away the #about div */

#about {
	display: none;
}

/* Header with Logos */

.header {
	background-color: #fff;
	border-bottom: 1px solid #666;
}


/*Visualizations*/

body {
	font-family: roboto;
}

h3 {
font-size: 20px;
font-family: open sans !important;
font-weight: 300 !important;
color: #222 !important;
text-align: center !important;
}

	svg {
		stroke: #333;
		background: #FFF;
		stroke-width: 1;
	}

	.dashed {
		/*stroke-dasharray: 13,7;*/
	}
	
	.selected {
		opacity: 1;
	}
	.deselected {
		opacity: .125;
	}
	/*Force network*/
		#visDiv {
			position: absolute;
			display: block;
			width: 80%;
			height: 100%;
		}
		
		.axis text {
			font: 10px sans-serif;
		}
		
		.axis line,.axis path {
			fill: none;
			stroke: #000;
			shape-rendering: crispEdges;
		}
		.highlighted {
			stroke-width: 2;
		}
		circle.highlighted {
			stroke-width: 2;	
		}
		/*Force network legends*/
			#legendContainer {
				position: fixed;
				width: 800px;
				height: 150px;
				/*float: right;*/
				bottom: 5%;
				background: none;
				margin: auto !important;

			}
			
			#mainVisSizeLegend {
				width: 25%;
				height: 100px;
				left: 0%;
				float:left;
			}
			
			#mainVisColorLegend {
				width: 25%;
				height: 100px;
				left: 25%;
				float:left;
			}
			#mainVisOpacityLegend {
				width: 25%;
				height: 100px;
				left: 50%;
				float:left;
			}	
			#mainVisWidthLegend {
				width: 25%;
				height: 100px;
				left: 75%;
				float:left;
			}						
	/*Component bar graph*/
		#scrollable {
			position: absolute;
			display: block;
			width: 20%;
			left:80%;
			/*top:80%;*/
			height: 100%;
			overflow-x: auto;
			overflow-y: hidden;
			background: #FFF;
		}
		#visBar {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
		}
	
	/*Nodes (circle)*/
	.n {
		stroke-width: 1;
		stroke: #000;
		cursor: pointer;
		fill: none;
	}
	
	/*Edges (path)*/
	.e {
		/*stroke:red;*/
	}

	/*Bars (rect)*/
	.b {
		cursor: pointer;
	}
	
	/*Labels (text)*/
	.l {
		font-size: 16px;
		letter-spacing: 1px !important;
		font-family: roboto;
		font-weight: 300;
		color: #333;
		cursor: pointer;
	}
	/*Smaller labels (text)*/
	.l2 {
		font-size: 14px;
		font-family: roboto;
		font-weight: 300;
		/*stroke-width:.035em;*/
		cursor: pointer;
	}