<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Debug Tools</a>
			</h4>
	</div>
	<div id="collapse1" class="panel-collapse collapse">
		<div class="panel-body">
			<span id="tools">
					<h3>Bar chart</h3>
					<div class="debug-border">
						<label>Sort alphabetically</label>
						<button class="button-go" id="sort-az">Go</button>
					</div>
					<div class="debug-border">
						<label>Sort by value</label>
						<button class="button-go" id="sort-val">Go</button>
					</div>
					<br>                    
					<h3>Force Network</h3>
					<div class="debug-border">
						<label>Toggle Physics</label>
						<button class="button-go" id="toggle-physics">Go</button>
					</div>
					<div class="debug-border">
						<label>Toggle Labels</label>
						<button class="button-go" value="off" id="toggle-labels">Go</button>
					</div>
					<br>
					<div class="debug-border">
						<label>Change Node Size Attr</label>
						<div class="debug-form">
							<select id="txt1s" class="debug-select"></select>
							<button class="debug-button" id="inner-button-1s">Go</button>
						</div>
					</div>
					<div class="debug-border">
						<label>Change Node Color Attr</label>
						<div class="debug-form">
							<select id="txt1c" class="debug-select"></select>
							<button class="debug-button" id="inner-button-1c">Go</button>
						</div>
					</div>
					<div class="debug-border">
						<label>Change Edge Weight Attr (Issues)</label>
						<div class="debug-form">
							<select id="txt2w" class="debug-select"></select>
							<button class="debug-button" id="inner-button-2w">Go</button>
						</div>
					</div>
					<div class="debug-border">
						<label>Change Edge Opacity Attr (Issues)</label>
						<div class="debug-form">
							<select id="txt2o" class="debug-select"></select>
							<button class="debug-button" id="inner-button-2o">Go</button>
						</div>
					</div>
<!-- 					<div class="debug-border">
						<label>Tolerance slider</label> 
						<div class="example">
							<div id="html5" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
							</div>
							<input type="number" min="-20" max="40" step="1" id="input-select">
							<input type="number" min="-20" max="40" step="1" id="input-number">
							<button class="debug-button" id="inner-button-4">Go</button>
						</div>
					</div> -->
				</span>
		</div>
	</div>
</div>
