<div id="selection-box">
	<div id="selection-display">
		<svg style="display:none" id="main-vis-node-sel-disp" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
			<circle class="n" id="main-vis-node-sel-disp-circ" cx="25" cy="25" r="23" />
		</svg>
		<svg style="display:none" id="main-vis-edge-sel-disp" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
			<path class="e" id="main-vis-edge-sel-disp-path" stroke-miterlimit="10" d="M10,10l30,30" />
			<circle class="n" id="main-vis-edge-sel-disp-circ-source" cx="10" cy="10" r="8" />
			<circle class="n" id="main-vis-edge-sel-disp-circ-target" cx="40" cy="40" r="8" />
		</svg>
	</div>
	<div id="selection-about"></div>
	</br>
	Touch a node or edge to display more info.
</div>