<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<!--[if lte IE 7]>
			<script src="lib/json2.js"></script>
		<![endif]-->
		<!--[if lte IE 8]>
			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>		
			<script>
				document.createElement('ng-include');
				document.createElement('ng-pluralize');
				document.createElement('ng-view');
				document.createElement('ng:include');
				document.createElement('ng:pluralize');
				document.createElement('ng:view');
			</script>
		<![endif]-->
		<!--[if lte IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>IAI Twitter</title>
		<meta name="viewport" content="initial-scale=1.0,width=device-width" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
		<script src="lib/head.js"></script>
		<script src="src/Init.js"></script>
	</head>
	<body>
		<!--TODO:Remove for production-->
		<div id="about" style="position:absolute; z-index:23498576345; right:5; top:5; ">
			<span id="node_data"></span>
		</div>
		<div ng-cloak ng-dash-vis ng-vis-type="forceNetwork" id="visDiv" ng-margins-right="7.5" ng-margins-bottom="7.5" ng-data-field="" ng-identifier="mainVis" ng-if="'true'" ng-init="message = 'yay'">
		</div>
		<div id="scrollable">
			<div ng-cloak ng-dash-vis ng-vis-type="componentBarGraph" ng-orientation="vertical" id="visBar" ng-margins-right="7.5" ng-margins-bottom="7.5" ng-data-field="" ng-component-for="mainVis" ng-identifier="barVis" ng-if="'true'" ng-init="message = 'yay'">
			</div>
		</div>

<!--TODO:Remove for production-->
	<div class="panel-group" id="accordion" style="position:fixed; width: 250px; float:right; right:10px; ">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Debug Tools</a>
			</h4>
		</div>
		<div id="collapse1" class="panel-collapse collapse in">
			<div class="panel-body">
				<span id="tools">
					<div class="border">
						<label>Toggle Physics</label>
						<button id="togglePhysics" style="float:right; margin-right:11px">Go</button>
					</div>
					</br>
					<div class="border">
						<label>Change Node/Bar Attr - <i>attr</i></label>
						<div class="nestedform" id="nestedform">
							<input type="text" class="txt" id="txt" style="height: 35px; width: 210px; float:right;" value="weight">
							<button class="innerButton" id="innerButton">Go</button>
						</div>
					</div>
					<div class="border">
						<label>Change Edge Attr - <i>w,o</i></label>
						<div class="nestedform" id="nestedform2">
							<input type="text" class="txt" id="txt2" style="height: 35px; width: 210px; float:right;" value="RT,RP">
							<button class="innerButton" id="innerButton2">Go</button>
						</div>
					</div>
					<div class="border">
						<label>Highlight nodes - <i>name,name</i></label>
						<div class="nestedform" id="nestedform3">
							<input type="text" class="txt" id="txt3" style="height: 35px; width: 210px; float:right;" value="StanfordMed,NIH,tuftsctsi">
							<button class="innerButton" id="innerButton3">Go</button>
						</div>
					</div>
					<div class="border">
						<label>Tolerance slider</label>	
						<div class="example">
							<div id="html5" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
							</div>
							<input type="number" min="-20" max="40" step="1" id="input-select">
							<input type="number" min="-20" max="40" step="1" id="input-number">
							<button class="innerButton" style="right:25px; bottom:25px" id="innerButton4">
								Go
							</button>
						</div>
					</div>
				</span>
			</div>
		</div>
	</div>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
	</script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
	</script>
<!--
	<script type="text/javascript">
	$(document).ready(function() {


		setTimeout(function() {
			var vis = visualizations.mainVis.vis;
			var svg = vis.svg;
			var visData = vis.data;
			document.getElementById("togglePhysics").onclick = function() {
				svg.force.physicsToggle();
			};
			
			document.getElementById("innerButton").onclick = function() {
				svg.updateNodes(document.getElementById("txt").value);
				var childVisualizations = visualizations[opts.ngIdentifier].children;
				Object.keys(childVisualizations).forEach(function(d, i) {
					childVisualizations[d].vis.resetVis(svg.selectAll(".node").filter(function() {return !d3.select(this).classed("filtered")}).data());
				})					
			};
			document.getElementById("innerButton2").onclick = function() {
				svg.updateLinks(document.getElementById("txt2").value);
			};
			document.getElementById("innerButton3").onclick = function() {
				var arg = document.getElementById("txt3").value;
				if (arg !== "" || typeof arg !== "undefined") {
					var argSplit = arg.replaceAll(" ","").split(",");
					svg
						.selectAll("circle")
						.filter(function(d) {
							return argSplit.indexOf(d.label) >= 0;
						})
						//TODO: Fit this into CSS
						.style("fill", "red");
				};
			};

			function initFilter(range, mi, ma) {
				var min = range[0];
				var max = range[1];
				if (mi != null) min = mi;
				if (ma != null) max = ma;
				var select = document.getElementById('input-select');
				for ( var i = range[0]; i <= range[1]; i++ ){
					var option = document.createElement("option");
						option.text = i;
						option.value = i;
					select.appendChild(option);
				};
				var html5Slider = document.getElementById('html5');
				noUiSlider.create(html5Slider, {
					start: [min, max],
					connect: true,
					range: {
						'min': range[0],
						'max': range[1]
					}
				});
				var inputNumber = document.getElementById('input-number');
				html5Slider.noUiSlider.on('update', function( values, handle ) {
					var value = values[handle];
					if ( handle ) {
						inputNumber.value = value;
					} else {
						select.value = Math.round(value);
					};
				});
				select.addEventListener('change', function(){
					html5Slider.noUiSlider.set([this.value, null]);
				});
				inputNumber.addEventListener('change', function(){
					html5Slider.noUiSlider.set([null, this.value]);
				});
			};
			if (!isSliderReady) {
				initFilter(d3.extent(visData.nodes.data, function(a) {
					return a.weight;
				}), 15, null);	
				isSliderReady = true;
			}


			
			document.getElementById("innerButton4").onclick = function() {
				svg.filterOut(parseInt($("#input-select")[0].value), parseInt($("#input-number")[0].value));
			};
			svg.filterOut(parseInt($("#input-select")[0].value), parseInt($("#input-number")[0].value));
		},1000);
	})
	</script>
-->



</body>
<!--TODO:Remove for production-->

<style type="text/css">
	.nestedform{
		display:inline-block;
		position:relative;
	}
	.innerButton{
		position:absolute;
		bottom:5px;
		right:7px;
	}
	button {
		border-radius:5px;
	}
	.border {
		padding: 2px;
		display: inline-block;
		background:#F5F5F5;
		margin:2px;
		width:100%;
		border-radius: 5px;
	}
	#input-select,
	#input-number {
		padding: 7px;
		margin: 15px 5px 5px;
		width: 70px;
	}

</style>
</html>
