<div class="pop-up">
    <table>
        <div style="width: 300px">
            <h3>CTSA Hub: %d</h3>
        </div>
        <!--         <tr>
            <th>Counts of Clinical Trials</th>
            <th>Counts of Grants</th>
            <th>Sum of Grant Amounts</th>
            <th>Counts of Publications</th>
        </tr>
 -->
        <tr>
            <td>#Clinical Trials</td>
            <td>%d</td>
        </tr>
        <tr>
            <td>#Publications</td>
            <td>%d</td>
        </tr>
        <tr>
            <td>#Awards</td>
            <td>%d</td>
        </tr>
        <tr>
            <td>&Sigma; Expertise</td>
            <td>%d</td>
        </tr>        

    </table>
</div>
<!-- Hub name
Pub counts
Author counts 
etc -->
